extends ./layouts/default

block title 
    title Koa douban index

block content
    .container
        .col-md-8
            h1 Hi #{you}
            p This is #{me}
        .col-md-4
            p 测试静态 Pug xxxx 页面 